{{USP_SaoCarlos-Brazil/IARABootstrapCSS}}
{{USP_SaoCarlos-Brazil/IARAStyle}}
<html lang="en">
  <head>
    <title>IARA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:USP_SaoCarlos-Brazil/IARAJquery&action=raw&ctype=text/javascript"></script>
    <script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:USP_SaoCarlos-Brazil/IARAPopperJS&action=raw&ctype=text/javascript"></script>
    <script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:USP_SaoCarlos-Brazil/IARABootstrapJS&action=raw&ctype=text/javascript"></script>
    <script type="text/javascript" src="https://2019.igem.org/wiki/index.php?title=Template:USP_SaoCarlos-Brazil/chart.js&action=raw&ctype=text/javascript"></script>

  </head>
  <body style="">
    <section id="nav-placeholder">
      <nav class="shadow navbar navbar-expand-xl navbar-dark fixed-top">
        <a class="navbar-brand" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil" style="height:40px">
          <img src="https://2019.igem.org/wiki/images/5/5d/T--USP_SaoCarlos-Brazil--I-navbar.svg" alt="logo" />
          <img src="https://2019.igem.org/wiki/images/3/38/T--USP_SaoCarlos-Brazil--A-navbar.svg" alt="logo" />
          <img src="https://2019.igem.org/wiki/images/3/3c/T--USP_SaoCarlos-Brazil--R-navbar.svg" alt="logo" />
          <img src="https://2019.igem.org/wiki/images/3/38/T--USP_SaoCarlos-Brazil--A-navbar.svg" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item dropdown mx-3">
              <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">PROJECT</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Description">DESCRIPTION</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Design">DESIGN</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Experiments">EXPERIMENTS</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Notebook">NOTEBOOK</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Contribution">CONTRIBUTION</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Model">MODEL</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Results">RESULTS</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Demonstrate">DEMONSTRATE</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Measurement">MEASUREMENT</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Attributions">ATTRIBUTIONS</a>
              </div>
            </li>
            <li class="nav-item dropdown mx-3">
              <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">TEAM</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Team">TEAM MEMBERS</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Collaborations">COLLABORATIONS</a>
              </div>
            </li>
            <li class="nav-item dropdown mx-3">
              <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">PARTS</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Parts">PARTS OVERVIEW</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Basic_Part">BASIC PARTS</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Composite_Part">COMPOSITE PARTS</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Part_Collection">PART COLLECTION</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Improve">IMPROVE</a>
              </div>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Safety">SAFETY</a>
            </li>
            <li class="nav-item dropdown mx-3">
              <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">HUMAN PRACTICES</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Human_Practices">HUMAN PRACTICES</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Public_Engagement">EDUCATION AND ENGAGEMENT</a>
              </div>
            </li>
            <li class="nav-item dropdown mx-3">
              <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">AWARDS</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Human_Practices">HUMAN PRACTICES</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Public_Engagement">PUBLIC ENGAGEMENT</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Model">MODEL</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Measurement">MEASUREMENT</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Basic_Part">BEST NEW BASIC PART</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Composite_Part">BEST NEW COMPOSITE PART</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Part_Collection">BEST PART COLLECTION</a>
                <a class="dropdown-item" href="http://2019.igem.org/Team:USP_SaoCarlos-Brazil/Hardware">HARDWARE</a>
              </div>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="https://igem.org/2019_Judging_Form?team=USP_SaoCarlos-Brazil">JUDGING FORM</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <script>
      var url = window.location.href;
      $(function() {
        $('.nav-link[href="'+url+'"]').addClass("active");
        $('.dropdown-item[href="'+url+'"]').addClass("active");
        $('.dropdown-item[href="'+url+'"]').parent().parent().addClass("active");
      });
    </script>
  </body>
</html>