<html>
<style>

#footer{
  background-color: #171e34;
  font-family: 'Montserrat', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.social{
    transition: .2s ease;
width: 3em;
}

.social img{
    transition: transform 1s ease;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.social:hover{
transform: scale(1.2);
}

.sponsor{
width: 8em;
text-align: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .3s ease;
}

.sponsor img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sponsor:hover{
transform: scale(1.2);
}


</style>
<div id="footer" class="container-fluid wavyContainer" style= "margin-bottom:-2em; padding-top:7em; text-align: center; background-image:linear-gradient(to bottom, var(--verde),var(--verdao))">

<div class="container-fluid" style = "color:white; text-align:center">
	<div class="row">
		<div class="col-12 col-md-2"> <!-- CONTACT -->
			<div class="row mb-3">
				<div class="col-12" style="text-align: center; color=var(--laranja); font-size:2em"> CONTACT</div>
			</div><!-- r -->

			<div class="row mb-3">
				<div class="col-4">
					<a href="https://www.facebook.com/iGEM.USPSaoCarlos/">
						<img class = "social" src="https://2019.igem.org/wiki/images/d/d8/T--USP_SaoCarlos-Brazil--facebook-icon.svg"  alt="facebook logo"  />
					</a>
				</div>

				<div class="col-4">

				<a href="https://www.instagram.com/igem_uspsaocarlos/">
					<img class = "social" src="https://2019.igem.org/wiki/images/b/b8/T--USP_SaoCarlos-Brazil--instagram-icon.svg"  alt="instagram logo" />
				</a>
				</div>

				<div class="col-4">

				<a href="https://twitter.com/iGEM_USP">
					<img class = "social" src="https://2019.igem.org/wiki/images/4/4a/T--USP_SaoCarlos-Brazil--twitter-icon.svg"  alt="twitter logo"  />
				</a>

				</div>
			</div><!-- r -->

			<div class="row align-items-center mb-3" style="text-align:center">
				<div class="col-4"  style = "text-align:center">

				<a href="mailto:igem@ifsc.usp.br">
					<img class = "social center" src="https://2019.igem.org/wiki/images/c/c7/T--USP_SaoCarlos-Brazil--email-icon.svg"  alt="email icon"  />
				</a>
				</div>

				<div class="col-8" style="text-align: left;">
					igem@ifsc.usp.br
				</div>
			</div><!-- r -->
			
		</div>
		<div class="col-xs-12 col-md-10"> <!-- SPONSORS -->
			<div class="row mb-3">
				<div class="col-12" style="text-align: center; font-size:2em"> SPONSORS</div>
			</div><!-- r -->

			<div class="row align-items-center mb-4">
				<div class="col">
				<a href="https://www2.ifsc.usp.br/portal-ifsc/">
					<img class = "sponsor" src="https://2019.igem.org/wiki/images/d/d7/T--USP_SaoCarlos-Brazil--ifsc.svg"  alt="São Carlos Institute fo Physics/University of São Paulo" />
				</a>
				</div>

				<div class="col">
				<a href="http://www.prg.usp.br/">
					<img class = "sponsor" src="https://2019.igem.org/wiki/images/8/88/T--USP_SaoCarlos-Brazil--pr-grad.svg"  alt="Pró-reitoria de graduação/USP"/>
				</a>
				</div>

				<div class="col">
				<a href="http://www.prpg.usp.br/">
					<img class = "sponsor" src="https://2019.igem.org/wiki/images/5/5f/T--USP_SaoCarlos-Brazil--pr-p%C3%B3s.svg"  alt="Pró-reitoria de pós-graduação/USP"  />
				</a>
				</div>

				<div class="col">
				<a href="http://prp.usp.br/">
					<img class = "sponsor" src="https://2019.igem.org/wiki/images/2/24/T--USP_SaoCarlos-Brazil--pr-pes.svg"  alt="Pró-reitoria de pesquisa" />
				</a>
				</div>

				<div class="col">
				<a href="http://prceu.usp.br/">
					<img class = "sponsor" src="https://2019.igem.org/wiki/images/4/4b/T--USP_SaoCarlos-Brazil--pr-cult.svg"  alt="Pró-reitoria de cultura e extensão" />
				</a>
				</div>

				<div class="col">
				<a href="https://www2.ifsc.usp.br/english/grupo-de-biofisica-molecular-sergio-mascarenhas/">
					<img class = "sponsor" src="https://2019.igem.org/wiki/images/1/1a/T--USP_SaoCarlos-Brazil--biof%C3%ADsica.svg"  alt="Grupo de Biofísica Molecular Sérgio Mascarenhas"/>
				</a>
				</div>

				<div class="col">
				<a href="http://cepof.ifsc.usp.br/">
					<img class = "sponsor" src="https://2019.igem.org/wiki/images/3/36/T--USP_SaoCarlos-Brazil--cepof.svg"  alt="Centro de Pesquisas em Óptica e Fotônica (CePOF)"/>
				</a>
				</div>

				<div class="col">
				<a href="http://cibfar.ifsc.usp.br/">
					<img class = "sponsor" src="https://2019.igem.org/wiki/images/f/fa/T--USP_SaoCarlos-Brazil--cibfar.svg"  alt="Centro de Pesquisa e Inovação em Biodiversidade e Fármacos (CIBFar)" />
				</a>
				</div>

				<div class="col">
				<a href="http://www.fafq.org.br/publicador/home.php">
					<img class = "sponsor" src="https://2019.igem.org/wiki/images/5/52/T--USP_SaoCarlos-Brazil--fafq.svg"  alt="Fundação de Apoio a Física e a Química (FAFQ)" />
				</a>
				</div>

				<div class="col">
				<a href="https://twistbioscience.com/">
					<img class = "sponsor" src="https://2019.igem.org/wiki/images/1/13/T--USP_SaoCarlos-Brazil--twist.svg"  alt="Twist Bioscience"/>
				</a>
				</div>

				<div class="col">
				<a href="https://www.neb.uk.com/">
					<img class = "sponsor" src="https://2019.igem.org/wiki/images/c/ce/T--USP_SaoCarlos-Brazil--neb.svg"  alt="New England Biolabs"/>
				</a>
				</div>
			</div>
		</div>
	</div>
</div>
</html>